---
---

@import "{{ site.theme }}";

header {
	background: none;
	border: 0;	
	padding-top: 40px;
	padding-bottom: 0;
}

#content-wrapper {
	border: 0;
}

body {
	background-image: url(../../Background.png);
	background-size: 10%;
	background-repeat: repeat;
}
